.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }
}
.sign-in-container{
  display: flex;
  justify-content: space-around;
}

.sign-in-button-container{
  display: flex;
}

.sign-in-button-container :last-child{
  margin-left: 10px;
}
